*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    width: 50%;
    max-width: 500px;
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
h1{
    font-size: 35px;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
p{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.input-content{
    height: 2rem;
    width: 95%;
    padding: 0 0.5rem;
    border: 2px solid lightgray;
    border-radius: 5px;
}
.sub-btn{
    margin: 1rem;
    padding: 10px 20px;
    width: 10rem;
    border: 1px solid white;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 20px;
    align-self: center;
    transition: all 0.5s ease-in;
}
.sub-btn:hover{
    background-color: rgb(84, 83, 83);
}
#results{
    color: red;
}
.chart-area{
    display: none;
}
.chart-area1{
    
    padding-right: 2rem;
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 1100px){
    body{
        flex-wrap: wrap;
        align-content: center;
        row-gap: 0;
    }
 
    .chart-area1{
        height:80%;
        width: 80%;
        
    }
}